<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
        <img src="{{ asset('image/brand.jpeg') }}" alt="logo" style="width:40px;">
    </a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ asset('ad/new') }}"><i class="fas fa-plus pr-1"></i>Annonce</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
        </li>
    </ul>
    <div class="ml-auto d-flex align-items-center">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div>
            <ul class="navbar-nav ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light mr-3" href="#" id="navbardrop" data-toggle="dropdown">
                        {{ app.user.fullname }}
                    </a>
                    <div class="dropdown-menu bg-dark">
                        <a class="dropdown-item text-light bg-dark" href="#">Profil</a>
                        <a class="dropdown-item text-light bg-dark" href="{{ asset('profil/edit') }}">Edit</a>
                        <a class="dropdown-item text-light bg-dark" href="#">Link 3</a>
                    </div>
                </li>


            </ul>
        </div>
        <div>
            <a class="btn btn-sm btn-outline-secondary"
               href="{{ path('security_logout') }}">
                <i class="fas fa-sign-out-alt pr-2"></i>Déconnection
            </a>
            {% else %}
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="{{ path('registration') }}">S'inscrire</a>
                    </li>
                </ul>
                <a class="btn btn-sm btn-outline-info"
                   href="{{ path('security_login') }}">
                    <i class="fas fa-sign-in-alt pr-2"></i>Connexion
                </a>
            {% endif %}
        </div>
    </div>
</nav>